.App {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
}
.about-text hr {
  width: 308px;
  height: 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  border: 1px solid #9fadef;
}
.about-text {
  padding: 40px 10px 10px 10px;
  gap: 40px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
  background: #4864e1;
  border-radius: 20px;
  max-width: 45%;
}

.about-text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.about-text p {
  color: #f7f7f7;
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6;
}

.join-button {
   
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px;
  padding: 20px 20px;
  border-radius: 25px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #187bcd;
}

.about-images {
  width: Hug (661px) px;
  height: Hug (584px) px;
  gap: 12px;
  opacity: 0px;

  gap: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-images img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.trusted-by {
  padding: 40px;
  text-align: center;
  margin: 20px 0;
}

.trusted-by h3 {
  padding: 60px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.trusted-by .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trusted-by .logos img {
  max-width: 150px;
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.trusted-by .logos img:hover {
  opacity: 1;
}

.our-numbers {
  padding: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.our-numbers h3 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.stat-card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  max-width: 200px;
}

.stat-card h4 {
  font-size: 1.8em;
  color: #1e90ff;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 1.1em;
  color: #555;
}

.testimonials {
  text-align: center;
}

.testimonials h3 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.testimonial-card {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 30px;
  max-width: 600px;
  margin: 0 auto 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-card p {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.testimonial-card span {
  display: block;
  font-size: 1em;
  color: #777;
}
