header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    /* background: #021638; */
    background-color: rgba(249, 249, 251, 1);
    border-bottom: 1px solid rgba(233, 235, 237, 1);

}

.links {
    display: flex;
    gap: 40px;
}

.btns {
    display: flex;
    gap: 32px;
}

header button {
    width: 110px;
    height: 48px;
    border: 1px solid #4864E1;
    color: #4864E1;
    border-radius: 32px;
    background: none;
}

header button:hover {
    background: #4864E1;
    color: white;
}

a {
    text-decoration: none;
    /* color: #ffffff; */
    font-weight: 500;
    font-size: 16px;
}

a:hover {
    font-size: 18px;
    border-bottom: 4px solid #4864E1;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);

}