.footer__content {
  width: 100%;
  height: 280px;
  background: #4864e1;
  margin-top: 100px;
  align-items: center;
  .footer__content--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    h2 {
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      letter-spacing: 0.005em;
      text-align: left;
      color: #fff;
    }
    h5 {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.005em;
      text-align: left;
      width: 627px;
      color: #fff;
      margin-top: 10px;
    }
    button {
      margin-top: 20px;
      width: 150px;
      height: 56px;
      border-radius: 32px;
      padding: 16px, 32px, 16px, 32px;
      border: none;
      outline: none;
      color: #4864e1;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      transition: 0.8s ease;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 408px;
  background: #021638;
  padding-top: 120px;
  hr {
    border: 1px solid #ffffff40;
    margin: 40px 0;
  }
}

.footer__content--wrapper {
  p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #aeaeb2;
    width: 363px;
    margin-top: 5px;
  }
}

.footer__content--wrapper-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .footer__list--wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    li {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.005em;
      text-align: center;
      color: #c5c5c5;
      list-style-type: none;
      cursor: pointer;
    }
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fff;
  }
  input {
    width: 247px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
    background: #ffffff1f;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #cbcbcb;
    outline: none;
    border: none;
    ::placeholder {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.005em;
      text-align: left;
      color: #cbcbcb;
    }
  }
  button {
    width: 104px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #ffffff;
    background: #4864e1;
    border: none;
    outline: none;
    margin-left: 20px;
    transition: 0.8s ease;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #fff;
  }
  .social-card {
    border-radius: 50%;
    border: 1px solid #ffffff1f;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    div i {
      color: #fff;
    }
  }
  .footer__medias {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.footer__texts {
  display: flex;
  gap: 10px;
  align-items: center;
  p {
    cursor: pointer;
  }
}
